@import "_resetStyle";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap");

// ------------------------------------- Variable------------------------------------

$main-fz: 24px;
$main-color-purple: #6248c5;
$additional-color-purple: #6248c51a;
$footer-color: #10132e;

// ------------------------------------- animation------------------------------------

@keyframes arrow-animation-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes arrow-in-circle-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes arrow-in-circle-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
// ------------------------------------- General------------------------------------

body {
  font-family: "Manrope", sans-serif;
  font-size: $main-fz;
  color: #070916;
}

[class*="__container"] {
  max-width: 1200px;
  padding-left: 15px !important;
  padding-right: 15px !important;

  margin: 0px auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  min-width: 0;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #070916;
}
.title-arrow {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: url(../img/arrow-up-right.svg) no-repeat;
  }
}
// ------------------------------------- header------------------------------------

.header {
  &__container {
    display: flex;
    height: 125px;
    border-bottom: 1px solid #e6e6e6;
  }

  &__logo {
    padding: 50px 0 0 0;
  }
}
.logo {
  display: flex;
  & img {
    margin: 0 10px 0 0;
    width: 36px;
    height: 36px;
  }
  &__icon {
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
  &__title {
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    color: #070916;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #6248c5;
  }
}
.nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  &__list {
    display: flex;
    padding: 58px 0px 0px 0px;
  }

  &__item {
    margin: 0 50px 0 0;
    &:last-child {
      margin: 0 0 0 0;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #070916;
    transition: color 0.3s;
    &:hover {
      color: $main-color-purple;
    }
  }
}

// ------------------------------------- announcement------------------------------------
.announcement {
  min-width: 0;
  &__container {
    display: flex;
    min-width: 0;
    flex-direction: column;
    padding: 70px 0px 64px 0px;
    position: relative;
  }

  &__title {
    margin: 0px 0px 24px 0px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    color: #fff;
    top: 60px;
    right: 0px;
    width: 42px;
    height: 42px;
    background: #6248c5;
    border-radius: 50%;

    &::after {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      font-family: "Manrope";
      font-style: normal;
    }
  }
  .swiper-button-prev {
    right: 52px;

    &::after {
      content: "<";
    }
  }
  .swiper-button-next {
    &::after {
      content: ">";
    }
  }
  .swiper-pagination-fraction,
  .swiper-pagination,
  .swiper-pagination-horizontal,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    display: inline-block;
    text-align: right;
    padding: 0px 130px 0px 0px;

    height: fit-content;
    position: absolute;
    top: 70px;
    right: 10px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #b5b6ba;
    letter-spacing: -1px;
  }
  .swiper-pagination-current {
    color: #070916;
  }
  .swiper-pagination-total {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  &__slider {
    &-button-next,
    &-button-prev {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      position: absolute;
      z-index: 10;
      top: 60px;
      right: 15px;
      width: 42px;
      height: 42px;
      background: #6248c5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #fff;
    }
    &-button-prev {
      right: 52+15px;
    }
  }
}

.announcement-item {
  display: flex;
  width: 1170px;
  flex-direction: column;
  background-color: #6248c5;
  border-radius: 50px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  &__img {
    position: absolute;
    right: 0;
    top: 0;
    & img {
      width: 100%;
    }
    &_2 {
      background: radial-gradient(
        42.7% 42.7% at 56% 52.33%,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      border-radius: 50px;
      width: 370px;
      height: 420px;
      right: 70px;
      top: 30px;
      object-fit: cover;
    }
    &_3 {
      background: radial-gradient(
        39.7% 30.7% at 48% 41.33%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      border-radius: 50px;
      width: 370px;
      height: 420px;
      right: 70px;
      top: 30px;
    }
  }
  &__info {
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin: 0px 0px 30px 0px;
    max-width: 758px;
  }

  &__type {
    padding: 10px 20px;
    background: #715acb;
    border-radius: 32px;
  }

  &__time {
    padding: 10px 20px;
    background: #715acb;
    border-radius: 32px;
  }

  &__lecturer {
    padding: 10px 20px;
    background: #715acb;
    border-radius: 32px;
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    color: #ffffff;
    margin: 0px 0px 10px 0px;
    max-width: 758px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    margin: 0px 0px 50px 0px;
    max-width: 545px;
  }

  &__button {
    background: #ffffff;
    border-radius: 43px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #070916;
    max-width: fit-content;
    transition: all 0.3s;
    &:hover {
      color: $main-color-purple;
      transform: scale(1.1);
    }
  }
}

// ------------------------------------- lectures------------------------------------

.lectures {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 64px 0px;
  }

  &__title {
    margin: 0px 0px 20px 0px;
  }

  &__list {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    max-height: 350px;
    gap: 20px;
    margin: 0px 0px 30px 0px;
    &_more {
      max-height: fit-content;
    }
  }
  &__btn-show-more {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #070916;

    border: 1px solid #b1a4e2;
    border-radius: 10px;
    padding: 20px 133.5px;
    margin: 0px auto;
    width: fit-content;
    transition: all 0.3s;
    &:hover {
      color: $main-color-purple;
      transform: scale(1.02);
    }
  }
}
.lecture {
  background: rgba(98, 72, 197, 0.1);
  border-radius: 20px;
  padding: 30px;
  flex: 0 0 calc((100% / 2) - 10px);
  transition: box-shadow 0.3s, transform 0.3s;

  &:hover {
    box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.2);
    transform: scale(1.01);
    & .title-arrow::after {
      animation: arrow-animation-scale 0.5s linear 0s infinite alternate;
    }
  }

  &__number {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #7c7b88;
    margin: 0px 0px 12px 0px;
    position: relative;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #070916;
  }
}

// ------------------------------------- laboratory------------------------------------

.laboratory {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 64px 0px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #070916;
    margin: 0px 0px 20px 0px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    flex: 0 0 calc((100% / 3) - 14px);
    padding: 30px;
    border: 1px solid #b1a4e2;
    border-radius: 20px;
    transition: box-shadow 0.3s, transform 0.3s;
    &:hover {
      box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.2);
      transform: scale(1.01);
      & .title-arrow::after {
        animation: arrow-animation-scale 0.5s linear 0s infinite alternate;
      }
    }
  }

  &__type {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #7c7b88;
    margin: 0px 0px 12px 0px;
    position: relative;
  }
}

// ------------------------------------- testing------------------------------------

.testing {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 64px 0px;
  }

  &__title {
    margin: 0px 0px 20px 0px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #070916;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    background: rgba(98, 72, 197, 0.1);
    border-radius: 20px;
    padding: 30px;
    flex: 0 0 calc((100% / 2) - 10px);
    transition: box-shadow 0.3s, transform 0.3s;
    &:hover {
      box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.2);
      transform: scale(1.01);
      & .title-arrow::after {
        animation: arrow-animation-scale 0.5s linear 0s infinite alternate;
      }
    }
  }

  &__number {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #7c7b88;
    margin: 0px 0px 12px 0px;
    position: relative;
  }

  &__info {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    color: #7c7b88;
  }

  &__time {
    margin: 0px 40px 0px 0px;
  }

  &__time-value {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #6248c5;
  }

  &__try {
    margin: 0px 40px 0px 0px;
  }

  &__try-value {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #6248c5;
  }

  &__deadline {
  }

  &__deadline-value {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #6248c5;
  }
}

// ------------------------------------- books------------------------------------

.books {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 128px 0px;
  }

  &__title {
    margin: 0px 0px 22px 0px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    flex: 0 0 calc((100% / 4) - 15px);
  }

  &__image {
    border: 1px solid #b1a4e2;
    border-radius: 17px;
    overflow: hidden;
    transition: all 0.3s;
    & img {
      width: 100%;
      height: 100%;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__download {
    margin: 10px 0px 0px 0px;
    display: block;
    border: 1px solid #b1a4e2;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #070916;
    transition: all 0.3s;
    &:hover {
      color: $main-color-purple;
      background-color: $additional-color-purple;
    }
  }
}

// ------------------------------------- footer------------------------------------

.footer {
  background: $footer-color;

  &__container {
    height: 160px;
    display: flex;
    align-items: center;
  }

  & .logo__title {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #ffffff;
  }
  & .nav__list {
    padding: 0;
  }
  & .nav__link {
    color: #ffffff;
    &:hover {
      color: $main-color-purple;
    }
  }
}

// ------------------------------------- breadcrumbs------------------------------------

.breadcrumbs {
  &__item {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: rgba(7, 9, 22, 0.5);

    &:last-child {
      &::after {
        content: "";
      }
    }
    &::after {
      content: " /";
    }
    &_active {
      color: #070916;
    }
  }
}

// ------------------------------------- topic ------------------------------------

.topic {
  &__container {
    padding: 64px 0 128px 0;
    display: flex;
    gap: 20px;
  }

  &__info {
    flex: 0 0 50%;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #070916;
    margin: 0px 0px 20px 0px;
  }

  &__body {
    background: #6248c5;
    border-radius: 20px;
    padding: 30px;
  }

  &__body-title {
    font-size: 18px;
    line-height: 25px;
    color: #b0a3e2;
    margin: 0px 0px 12px 0px;
  }

  &__body-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
  }

  &__material {
    flex: 0 0 50%;
  }

  &__material-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #070916;
    margin: 0px 0px 20px 0px;
  }
}
.material {
  &__list {
    margin: 0px 0px 20px 0px;
  }

  &__item {
    padding: 23px;
    background: #f0edfa;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #6248c5;
    &-type {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #7c7b88;
      margin: 0px 0px 10px 0px;
    }
    &-download {
      margin: 0px 0px 0px 35px;

      width: 44px;
      height: 44px;
      &:hover {
        animation: arrow-in-circle-rotate 1.2s
            cubic-bezier(0.68, -0.55, 0.265, 1.55),
          arrow-in-circle-scale 0.5s linear 1.25s infinite alternate;
      }
    }
  }
  &__test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #b1a4e2;
    border-radius: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #6248c5;
    padding: 23px;
    img {
      transform: rotate(-90deg);
    }
  }
}

// ------------------------------------- labs ------------------------------------

.lab {
  &__container {
    padding: 64px 0 128px 0;
    display: flex;
    gap: 20px;
  }

  &__info {
    flex: 0 0 50%;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #070916;
    margin: 0px 0px 20px 0px;
  }

  &__body {
    background: #6248c5;
    border-radius: 20px;
    padding: 30px;
  }

  &__body-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    margin: 0px 0px 10px 0px;
  }

  &__body-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #d0c8ed;
  }

  &__material {
    flex: 0 0 50%;
  }

  &__material-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #070916;
    margin: 0px 0px 20px 0px;
  }
}
.material {
  &__list {
    margin: 0px 0px 20px 0px;
  }

  &__item {
    padding: 23px;
    background: #f0edfa;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #6248c5;
    &-type {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #7c7b88;
      margin: 0px 0px 10px 0px;
    }
    &-download {
      width: 44px;
      height: 44px;
      &:hover {
        animation: arrow-in-circle-rotate 1.2s
            cubic-bezier(0.68, -0.55, 0.265, 1.55),
          arrow-in-circle-scale 0.5s linear 1.25s infinite alternate;
      }
    }
  }
  &__test {
    margin: 20px 0px 0px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #b1a4e2;
    border-radius: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #6248c5;
    padding: 23px;
    img {
      transform: rotate(-90deg);
    }
  }
}

// ------------------------------------- swiper ------------------------------------
.swiper {
  margin: 0px 0px 0px 0px;
}
